@import "nib"

/*  Google Fonts.
  ==================================================  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700')
@import url('http://fonts.googleapis.com/css?family=Lobster')

/*  Assets
  ==================================================  */
/*  Font icons */
@font-face
  font-family 'icomoon'
  src url('fonts/icomoon.eot?4qelu'),
      url('../fonts/icomoon.eot?#iefix-gecqsi') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-gecqsi') format('woff'),
      url('../fonts/icomoon.ttf?-gecqsi') format('truetype'),
      url('../fonts/icomoon.svg?-gecqsi#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-cogs
  &:before
    content "\e61c"

.icon-radio
  &:before
    content "\e61d"

.icon-tools
  &:before
    content "\e61e"

.icon-dollar
  &:before
    content "\e61f"

.icon-dollar2
  &:before
    content "\e620"

.icon-coins
  &:before
    content "\e621"

.icon-clipboard
  &:before
    content "\e622"

.icon-clipboard2
  &:before
    content "\e623"

.icon-mobile3
  &:before
    content "\e000"

.icon-laptop2
  &:before
    content "\e001"

.icon-desktop2
  &:before
    content "\e002"

.icon-tablet2
  &:before
    content "\e003"

.icon-phone2
  &:before
    content "\e004"

.icon-document
  &:before
    content "\e005"

.icon-documents
  &:before
    content "\e006"

.icon-search2
  &:before
    content "\e007"

.icon-presentation
  &:before
    content "\e00e"

.icon-briefcase
  &:before
    content "\e015"

.icon-gears
  &:before
    content "\e02b"

.icon-group
  &:before
    content "\e624"

.icon-chart-pie
  &:before
    content "\e625"

.icon-chart-line
  &:before
    content "\e626"

.icon-chart-bar
  &:before
    content "\e627"

.icon-chart-area
  &:before
    content "\e628"

.icon-perm-phone-msg
  &:before
    content "\e629"

.icon-settings-ethernet
  &:before
    content "\e62a"

.icon-settings-input-antenna
  &:before
    content "\e62b"

.icon-view-headline
  &:before
    content "\e600"

.icon-equalizer
  &:before
    content "\e62c"

.icon-play-circle-fill
  &:before
    content "\e65e"

.icon-call
  &:before
    content "\e601"

.icon-dialer-sip
  &:before
    content "\e62d"

.icon-email
  &:before
    content "\e602"

.icon-forum
  &:before
    content "\e603"

.icon-content-copy
  &:before
    content "\e604"

.icon-content-paste
  &:before
    content "\e605"

.icon-markunread
  &:before
    content "\e65f"

.icon-brightness-high
  &:before
    content "\e62e"

.icon-brightness-low
  &:before
    content "\e62f"

.icon-devices
  &:before
    content "\e630"

.icon-dvr
  &:before
    content "\e631"

.icon-cloud-download
  &:before
    content "\e632"

.icon-file-download
  &:before
    content "\e633"

.icon-computer
  &:before
    content "\e634"

.icon-desktop-mac
  &:before
    content "\e635"

.icon-desktop-windows
  &:before
    content "\e636"

.icon-dock
  &:before
    content "\e637"

.icon-laptop
  &:before
    content "\e638"

.icon-laptop-chromebook
  &:before
    content "\e639"

.icon-laptop-mac
  &:before
    content "\e63a"

.icon-memory
  &:before
    content "\e63b"

.icon-navigate-before
  &:before
    content "\e63c"

.icon-navigate-next
  &:after
    content "\e63d"

.icon-pin-drop
  &:before
    content "\e63e"

.icon-place
  &:before
    content "\e63f"

.icon-chevron-left
  &:before
    content "\e640"

.icon-chevron-right
  &:before
    content "\e641"

.icon-menu
  &:before
    content "\e642"

.icon-mms
  &:before
    content "\e643"

.icon-play-download
  &:before
    content "\e644"

.icon-sms-failed
  &:before
    content "\e660"

.icon-domain
  &:before
    content "\e645"

.icon-group2
  &:before
    content "\e646"

.icon-location-city
  &:before
    content "\e647"

.icon-people
  &:before
    content "\e648"

.icon-person
  &:before
    content "\e649"

.icon-publ
  &:before
    content "\e64a"

.icon-envelope
  &:before
    content "\e64b"

.icon-chat
  &:before
    content "\e64c"

.icon-cog
  &:before
    content "\f013"

.icon-home
  &:before
    content "\f015"

.icon-chevron-left2
  &:before
    content "\f053"

.icon-chevron-right2
  &:before
    content "\f054"

.icon-question-circle
  &:before
    content "\f059"

.icon-info-circle
  &:before
    content "\f05a"

.icon-twitter-square
  &:before
    content "\f081"

.icon-facebook-square
  &:before
    content "\f082"

.icon-comments
  &:before
    content "\f086"

.icon-linkedin-square
  &:before
    content "\f08c"

.icon-github-square
  &:before
    content "\f092"

.icon-phone
  &:before
    content "\f095"

.icon-phone-square
  &:before
    content "\f098"

.icon-twitter
  &:before
    content "\f099"

.icon-facebook
  &:before
    content "\f09a"

.icon-group3
  &:before
    content "\f0c0"

.icon-pinterest-square
  &:before
    content "\f0d3"

.icon-google-plus-square
  &:before
    content "\f0d4"

.icon-google-plus
  &:before
    content "\f0d5"

.icon-envelope2
  &:before
    content "\f0e0"

.icon-comment-o
  &:before
    content "\f0e5"

.icon-comments-o
  &:before
    content "\f0e6"

.icon-suitcase
  &:before
    content "\f0f2"

.icon-building-o
  &:before
    content "\f0f7"

.icon-desktop
  &:before
    content "\f108"

.icon-laptop3
  &:before
    content "\f109"

.icon-tablet
  &:before
    content "\f10a"

.icon-mobile
  &:before
    content "\f10b"

.icon-terminal
  &:before
    content "\f120"

.icon-code
  &:before
    content "\f121"

.icon-puzzle-piece
  &:before
    content "\f12e"

.icon-chevron-circle-left
  &:before
    content "\f137"

.icon-chevron-circle-right
  &:before
    content "\f138"

.icon-html5
  &:before
    content "\f13b"

.icon-css3
  &:before
    content "\f13c"

.icon-youtube-square
  &:before
    content "\f166"

.icon-youtube
  &:before
    content "\f167"

.icon-youtube-play
  &:before
    content "\f16a"

.icon-dropbox
  &:before
    content "\f16b"

.icon-stack-overflow
  &:before
    content "\f16c"

.icon-instagram
  &:before
    content "\f16d"

.icon-tumblr
  &:before
    content "\f173"

.icon-tumblr-square
  &:before
    content "\f174"

.icon-apple
  &:before
    content "\f179"

.icon-windows
  &:before
    content "\f17a"

.icon-android
  &:before
    content "\f17b"

.icon-linux
  &:before
    content "\f17c"

.icon-skype
  &:before
    content "\f17e"

.icon-foursquare
  &:before
    content "\f180"

.icon-slack
  &:before
    content "\f198"

.icon-graduation-cap
  &:before
    content "\f19d"

.icon-google
  &:before
    content "\f1a0"

.icon-reddit
  &:before
    content "\f1a1"

.icon-cubes
  &:before
    content "\f1b3"

.icon-file-image-o
  &:before
    content "\f1c5"

.icon-file-audio-o
  &:before
    content "\f1c7"

.icon-file-movie-o
  &:before
    content "\f1c8"

.icon-file-code-o
  &:before
    content "\f1c9"

.icon-git-square
  &:before
    content "\f1d2"

.icon-git
  &:before
    content "\f1d3"

.icon-cc-visa
  &:before
    content "\f1f0"

.icon-cc-mastercard
  &:before
    content "\f1f1"

.icon-cc-amex
  &:before
    content "\f1f3"

.icon-cc-paypal
  &:before
    content "\f1f4"

.icon-area-chart
  &:before
    content "\f1fe"

.icon-pie-chart
  &:before
    content "\f200"

.icon-line-chart
  &:before
    content "\f201"

.icon-download
  &:before
    content "\e606"

.icon-chat2
  &:before
    content "\e607"

.icon-user
  &:before
    content "\e608"

.icon-users
  &:before
    content "\e609"

.icon-location
  &:before
    content "\e60a"

.icon-mobile2
  &:before
    content "\e60b"

.icon-screen
  &:before
    content "\e60c"

.icon-mail
  &:before
    content "\e60d"

.icon-help
  &:before
    content "\e60e"

.icon-videos
  &:before
    content "\e60f"

.icon-pictures
  &:before
    content "\e610"

.icon-search
  &:before
    content "\e611"

.icon-cog2
  &:before
    content "\e612"

.icon-article
  &:before
    content "\e613"

.icon-photoshop
  &:before
    content "\e614"

.icon-illustrator
  &:before
    content "\e615"

.icon-list
  &:before
    content "\e616"

.icon-images
  &:before
    content "\e617"

.icon-pencil
  &:before
    content "\e618"

.icon-layers-alt
  &:before
    content "\e619"

.icon-layers
  &:before
    content "\e61a"

.icon-users2
  &:before
    content "\e61b"

.icon-mail2
  &:before
    content "\e661"

.icon-mail3
  &:before
    content "\e662"

.icon-mail4
  &:before
    content "\e663"

.icon-mail5
  &:before
    content "\e664"

.icon-google2
  &:before
    content "\e665"

.icon-googleplus3
  &:before
    content "\e666"

.icon-googleplus4
  &:before
    content "\e667"

.icon-googleplus5
  &:before
    content "\e668"

.icon-googleplus6
  &:before
    content "\e669"

.icon-facebook5
  &:before
    content "\e66a"

.icon-facebook6
  &:before
    content "\e66b"

.icon-facebook7
  &:before
    content "\e66c"

.icon-instagram2
  &:before
    content "\e66d"

.icon-twitter4
  &:before
    content "\e66e"

.icon-twitter5
  &:before
    content "\e66f"

.icon-twitter6
  &:before
    content "\e670"

.icon-feed
  &:before
    content "\e671"

.icon-feed2
  &:before
    content "\e672"

.icon-feed3
  &:before
    content "\e673"

.icon-youtube2
  &:before
    content "\e674"

.icon-youtube3
  &:before
    content "\e675"

.icon-vimeo3
  &:before
    content "\e676"

.icon-vimeo22
  &:before
    content "\e677"

.icon-vimeo4
  &:before
    content "\e678"

.icon-flickr
  &:before
    content "\e679"

.icon-flickr2
  &:before
    content "\e67a"

.icon-flickr3
  &:before
    content "\e67b"

.icon-flickr4
  &:before
    content "\e67c"

.icon-skype4
  &:before
    content "\e67d"

.icon-vimeo
  &:before
    content "\e64d"

.icon-vimeo2
  &:before
    content "\e64e"

.icon-twitter2
  &:before
    content "\e64f"

.icon-twitter3
  &:before
    content "\e650"

.icon-facebook2
  &:before
    content "\e651"

.icon-facebook3
  &:before
    content "\e652"

.icon-facebook4
  &:before
    content "\e653"

.icon-googleplus
  &:before
    content "\e654"

.icon-googleplus2
  &:before
    content "\e655"

.icon-pinterest
  &:before
    content "\e656"

.icon-pinterest2
  &:before
    content "\e657"

.icon-tumblr2
  &:before
    content "\e658"

.icon-tumblr3
  &:before
    content "\e659"

.icon-linkedin
  &:before
    content "\e65a"

.icon-linkedin2
  &:before
    content "\e65b"

.icon-skype2
  &:before
    content "\e65c"

.icon-skype3
  &:before
    content "\e65d"


/*  Colors  */
black_button =  #213338
blue_dark    =  #2C363C
blue_light   =  #00BCD9
footer     =  #222
footer_text  =  #999999
gray_dark    =  #33363b
gray_link    =  #333
gray_slider  =  #555555
gray_text    =  #626262
green_link   =  #7dcd40
green_border =  #6dae33
red_link   =  #ff4842
red_border   =  #d0272a
white      =  #FFF
yellow_link  =  #FFC000
grayOsmatik = #575757
blueOsmatik = #26BAD4
blackOsmatik =  #1D1D1B
candyOsmatik = #e2062c

/*.animate
  text-decoration none
  -webkit-transition all .5s ease
  opacity 0
  filter alpha (opacity = 0)
  position relative
  top 100px
  -webkit-transform scale(0.75)
  &.animations-effects
    opacity 1
    filter alpha (opacity = 100)
    top 0
    -webkit-transform scale(1)
.animate-container
  .animation
    opacity 0
    filter alpha (opacity = 0)
    position relative
    top 10px*/

/*  Scrollbar Properties
  ==================================================  */

::-webkit-scrollbar
  width 5px
  background #dbe8ec

::-webkit-scrollbar-button
  width 8px
  height 5px
  background #3c454e

::-webkit-scrollbar-track
  background #3c454e
  border thin solid #1a1f25
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
  -webkit-border-radius 10px
  border-radius 10px

::-webkit-scrollbar-thumb
  background blueOsmatik
  border thin solid blueOsmatik
  border-radius 10px
  -webkit-border-radius 10px
  &:hover
    background blue_dark
::-webkit-scrollbar-thumb:window-inactive
  background rgba(77,161,112,.6)


/*  Mobile
  ==================================================  */
.Header
  background white
  display block
  left 0
  position fixed
  right 0
  width 100%
  z-index 2
  height 4em
  border-bottom .1em dashed gray_slider
.Mainmenu
  background rgba(0, 0, 0, .1)
  display block
  height 4em
  position relative
  width 100%
  z-indez 2
  float none
  &-imageLink
    display inline-block
  &-image
    margin 0 1.5em
    height 4em
    line-height 4em
    width 9em
  &-mobile
    color blue_dark
    position absolute
    padding 0 1em
    line-height 2em
    font-size 2em
    right 0
    display inline-block
    text-decoration none
  &-mobile.nav-active
    opacity 1
  &-list
    box-shadow 0 1px 2px rgba(0,0,0,.5)
    -webkit-box-shadow 0 1px 2px rgba(0,0,0,.5)
    -moz-box-shadow 0 1px 2px rgba(0,0,0,.5)
    font-size 1.1em
    list-style none
    margin 0
    overflow hidden
    padding 0
    max-height 0
  &-list.open-menu
    max-height 400px
    transition max-height 1s
  &-item
    display block
    text-align center
    float none
    border-bottom 1px solid gray_slider
  &-link
    background gray_dark
    color white
    display block
    font-weight bold
    height 4em
    line-height 4em
    text-decoration none
    text-transform capitalize
    &:before
      margin-right .3em
  &-link:hover
    background gray_slider
    color yellow_link
.Slider
  display block
  width 100%
  position relative
  padding .2em 0
  top 4.2em
  border-bottom .3em solid gray_slider
  display none
  height 30em
  overflow hidden
  text-align center
  display block
  width 100%
  background-image url("../images/Banner-Osmatik.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  &-spanContent
    position absolute
    right 0
    left 0
    padding 2em .2em 0 .2em
    color white
    background rgba(0, 0, 0, .5)
    height 100%
    font-size 2em
  &-idea01
    display block
  &-strong
    color yellow_link
    text-transform uppercase
  &-idea02    display block
  &-button
    display block
    background rgba(0, 0, 0, 0)
    border-radius .3em
    border 3px solid white
    margin auto
    margin-top 2em
    padding .3em 1em
    text-transform capitalize
    &:hover
      border 3px solid blueOsmatik
.About
  padding-top 4em
  max-width 1024px
  margin 0 auto
  &-imageContainer
    display block
    margin-top 4em
    text-align center
  &-imageLogo
    width 250px
  &-title
    text-align center
    font-family Open Sans Condensed
    display block
  &-tittleSpan
    color blueOsmatik
  &-description
    margin 1em .8em 0 .8em
    font-family Open Sans Condensed
    font-size 1.5em
.Landing
  display block
  margin 4em 0 0 0
  background rgba(0, 0, 0, .05)
  padding-bottom 2em
  border-top 2px solid blackOsmatik
  &-title
    text-align center
    font-family Open Sans Condensed
    display block
    font-size 2.3em
    padding-top 2.5em
  &-containerSpan
    max-width 1024px
    margin 0 auto
    text-align center
    padding-bottom 2em
  &-descriptionSpan
    margin 0 .5em
    font-family Lobster
    font-size 1.5em
  &-colorSpan
    color candyOsmatik
  &-descriptionText
    margin 1em 0
    font-family Open Sans Condensed
    font-size 1.5em
  &-thumbsImage
    padding-top .7em
    width 100%
    display block
    padding .5em 0
  &-thumbsTitle
    margin 0 .5em
    text-align center
    display block
    font-weight 700
    font-size 1.3em
    color blackOsmatik
    text-decoration underline
  &-thumbsDescription
    display block
    line-height 1.5em
    margin .5em
    font-size 1.3em
    color blackOsmatik
  &-thumbsMore
    color blueOsmatik
.Footer
  display block
  margin-top -2.5em
  padding 0
  background blackOsmatik
  padding-bottom 2em
  &-title
    color white
    display block
    font-family Open Sans Lobster
    font-size 2em
    font-weight 300
    letter-spacing .1em
    text-transform uppercase
    text-align center
    padding-top .6em
    border-bottom 1px dashed white
    margin 0 .5em
  &-contactContainer
    margin-top 3em
    height 200px
    display block
    margin-top .5em
  &-contactLink
    color white
    font-size 1.5em
    font-family Condensed
    text-decoration none
    margin-left 1em
    display block
    margin-top .5em
@media screen and (min-width: 767px)
  .Slider
    height 28.4em
    &-spanContent
      padding-top 3em
  .Landing
    background  rgba(0, 0, 0, .05)
    height 2400px
    &-thumbsContainer
      text-align center
      max-width 1250px
      margin 0 auto
      display block
    &-thumbs
      position relative
      display inline-block
      width 320px
      margin 0 2em
      height 650px
      margin-bottom 3em
      &:nth-child(2n)
        background none
    &-thumbsAbsolute
      position absolute
      top 0
    &-thumbsImage
      zoom 1
      top 0
      display block
      display block
    &-thumbsMore
       color blueOsmatik
    &-thumbsTitle
      margin-top 1.5em
    &-thumbsDescription
      display block
      padding-top 1em
      font-size 1.2em
  .Footer
    &-container
      text-align center
    &-contactContainer
      text-align left
      display inline-block
      width 45%

@media screen and (min-width: 1024px)
  .Header
    display block
    height 4.5em
    position fixed
  .Mainmenu
    background white
    height 4.5em
    margin 0 auto
    max-width 62.5em
    &-imageLink
      display inline-block
    &-image
      height 4.5em
      line-height 4.5em
      width 10em
    &-mobile
      display none
    &-list
      overflow visible
      position absolute
      right 0
      top -1em
      margin 0
    &-item
      margin-top 1em
      border-bottom 1px solid white
      display block
      float left
    &-link
      background white
      color grayOsmatik
      position relative
      height 3.5em
      width 8em
      overflow hidden
      color gray_link
      z-index 1
      transition color .3s
      &:hover
        color rgba(0, 0, 0, .5)
        background white
        transition color 3s
        border-bottom 3px solid blueOsmatik
  .Slider
    height 37em
@media screen and (min-width: 1200px)
  .Landing
    height 1700px