@import "nib"

@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?v0bzsx'),
      url('../fonts/icomoon.eot?#iefix-gecqsi') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-gecqsi') format('woff'),
      url('../fonts/icomoon.ttf?-gecqsi') format('truetype'),
      url('../fonts/icomoon.svg?-gecqsi#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-cogs
  &:before
    content "\e61c"

.icon-cancel
  &:before
    content "\e680"

.icon-radio
  &:before
    content "\e61d"

.icon-tools
  &:before
    content "\e61e"

.icon-dollar
  &:before
    content "\e61f"

.icon-dollar2
  &:before
    content "\e620"

.icon-coins
  &:before
    content "\e621"

.icon-clipboard
  &:before
    content "\e622"

.icon-clipboard2
  &:before
    content "\e623"

.icon-mobile3
  &:before
    content "\e000"

.icon-laptop2
  &:before
    content "\e001"

.icon-desktop2
  &:before
    content "\e002"

.icon-tablet2
  &:before
    content "\e003"

.icon-phone2
  &:before
    content "\e004"

.icon-document
  &:before
    content "\e005"

.icon-documents
  &:before
    content "\e006"

.icon-search2
  &:before
    content "\e007"

.icon-presentation
  &:before
    content "\e00e"

.icon-briefcase
  &:before
    content "\e015"

.icon-gears
  &:before
    content "\e02b"

.icon-group
  &:before
    content "\e624"

.icon-chart-pie
  &:before
    content "\e625"

.icon-chart-line
  &:before
    content "\e626"

.icon-chart-bar
  &:before
    content "\e627"

.icon-chart-area
  &:before
    content "\e628"

.icon-pencil2
  &:before
    content "\e67e"

.icon-perm-phone-msg
  &:before
    content "\e629"

.icon-settings-ethernet
  &:before
    content "\e62a"

.icon-settings-input-antenna
  &:before
    content "\e62b"

.icon-view-headline
  &:before
    content "\e600"

.icon-equalizer
  &:before
    content "\e62c"

.icon-play-circle-fill
  &:before
    content "\e65e"

.icon-call
  &:before
    content "\e601"

.icon-dialer-sip
  &:before
    content "\e62d"

.icon-email
  &:before
    content "\e602"

.icon-forum
  &:before
    content "\e603"

.icon-content-copy
  &:before
    content "\e604"

.icon-content-paste
  &:before
    content "\e605"

.icon-markunread
  &:before
    content "\e65f"

.icon-brightness-high
  &:before
    content "\e62e"

.icon-brightness-low
  &:before
    content "\e62f"

.icon-devices
  &:before
    content "\e630"

.icon-dvr
  &:before
    content "\e631"

.icon-cloud-download
  &:before
    content "\e632"

.icon-file-download
  &:before
    content "\e633"

.icon-computer
  &:before
    content "\e634"

.icon-desktop-mac
  &:before
    content "\e635"

.icon-desktop-windows
  &:before
    content "\e636"

.icon-dock
  &:before
    content "\e637"

.icon-laptop
  &:before
    content "\e638"

.icon-laptop-chromebook
  &:before
    content "\e639"

.icon-laptop-mac
  &:before
    content "\e63a"

.icon-memory
  &:before
    content "\e63b"

.icon-edit
  &:before
    content "\e67f"

.icon-navigate-before
  &:before
    content "\e63c"

.icon-navigate-next
  &:before
    content "\e63d"

.icon-pin-drop
  &:before
    content "\e63e"

.icon-place
  &:before
    content "\e63f"

.icon-chevron-left
  &:before
    content "\e640"

.icon-chevron-right
  &:before
    content "\e641"

.icon-menu
  &:before
    content "\e642"

.icon-mms
  &:before
    content "\e643"

.icon-play-download
  &:before
    content "\e644"

.icon-sms-failed
  &:before
    content "\e660"

.icon-domain
  &:before
    content "\e645"

.icon-group2
  &:before
    content "\e646"

.icon-location-city
  &:before
    content "\e647"

.icon-people
  &:before
    content "\e648"

.icon-person
  &:before
    content "\e649"

.icon-publ
  &:before
    content "\e64a"

.icon-envelope
  &:before
    content "\e64b"

.icon-chat
  &:before
    content "\e64c"

.icon-cog
  &:before
    content "\f013"

.icon-home
  &:before
    content "\f015"

.icon-chevron-left2
  &:before
    content "\f053"

.icon-chevron-right2
  &:before
    content "\f054"

.icon-question-circle
  &:before
    content "\f059"

.icon-info-circle
  &:before
    content "\f05a"

.icon-twitter-square
  &:before
    content "\f081"

.icon-facebook-square
  &:before
    content "\f082"

.icon-comments
  &:before
    content "\f086"

.icon-linkedin-square
  &:before
    content "\f08c"

.icon-github-square
  &:before
    content "\f092"

.icon-phone
  &:before
    content "\f095"

.icon-phone-square
  &:before
    content "\f098"

.icon-twitter
  &:before
    content "\f099"

.icon-facebook
  &:before
    content "\f09a"

.icon-group3
  &:before
    content "\f0c0"

.icon-pinterest-square
  &:before
    content "\f0d3"

.icon-google-plus-square
  &:before
    content "\f0d4"

.icon-google-plus
  &:before
    content "\f0d5"

.icon-envelope2
  &:before
    content "\f0e0"

.icon-comment-o
  &:before
    content "\f0e5"

.icon-comments-o
  &:before
    content "\f0e6"

.icon-suitcase
  &:before
    content "\f0f2"

.icon-building-o
  &:before
    content "\f0f7"

.icon-desktop
  &:before
    content "\f108"

.icon-laptop3
  &:before
    content "\f109"

.icon-tablet
  &:before
    content "\f10a"

.icon-mobile
  &:before
    content "\f10b"

.icon-terminal
  &:before
    content "\f120"

.icon-code
  &:before
    content "\f121"

.icon-puzzle-piece
  &:before
    content "\f12e"

.icon-chevron-circle-left
  &:before
    content "\f137"

.icon-chevron-circle-right
  &:before
    content "\f138"

.icon-html5
  &:before
    content "\f13b"

.icon-css3
  &:before
    content "\f13c"

.icon-youtube-square
  &:before
    content "\f166"

.icon-youtube
  &:before
    content "\f167"

.icon-youtube-play
  &:before
    content "\f16a"

.icon-dropbox
  &:before
    content "\f16b"

.icon-stack-overflow
  &:before
    content "\f16c"

.icon-instagram
  &:before
    content "\f16d"

.icon-tumblr
  &:before
    content "\f173"

.icon-tumblr-square
  &:before
    content "\f174"

.icon-apple
  &:before
    content "\f179"

.icon-windows
  &:before
    content "\f17a"

.icon-android
  &:before
    content "\f17b"

.icon-linux
  &:before
    content "\f17c"

.icon-skype
  &:before
    content "\f17e"

.icon-foursquare
  &:before
    content "\f180"

.icon-slack
  &:before
    content "\f198"

.icon-graduation-cap
  &:before
    content "\f19d"

.icon-google
  &:before
    content "\f1a0"

.icon-reddit
  &:before
    content "\f1a1"

.icon-cubes
  &:before
    content "\f1b3"

.icon-file-image-o
  &:before
    content "\f1c5"

.icon-file-audio-o
  &:before
    content "\f1c7"

.icon-file-movie-o
  &:before
    content "\f1c8"

.icon-file-code-o
  &:before
    content "\f1c9"

.icon-git-square
  &:before
    content "\f1d2"

.icon-git
  &:before
    content "\f1d3"

.icon-cc-visa
  &:before
    content "\f1f0"

.icon-cc-mastercard
  &:before
    content "\f1f1"

.icon-cc-amex
  &:before
    content "\f1f3"

.icon-cc-paypal
  &:before
    content "\f1f4"

.icon-area-chart
  &:before
    content "\f1fe"

.icon-pie-chart
  &:before
    content "\f200"

.icon-line-chart
  &:before
    content "\f201"

.icon-download
  &:before
    content "\e606"

.icon-chat2
  &:before
    content "\e607"

.icon-user
  &:before
    content "\e608"

.icon-users
  &:before
    content "\e609"

.icon-location
  &:before
    content "\e60a"

.icon-mobile2
  &:before
    content "\e60b"

.icon-screen
  &:before
    content "\e60c"

.icon-mail
  &:before
    content "\e60d"

.icon-help
  &:before
    content "\e60e"

.icon-videos
  &:before
    content "\e60f"

.icon-pictures
  &:before
    content "\e610"

.icon-search
  &:before
    content "\e611"

.icon-cog2
  &:before
    content "\e612"

.icon-article
  &:before
    content "\e613"

.icon-photoshop
  &:before
    content "\e614"

.icon-illustrator
  &:before
    content "\e615"

.icon-list
  &:before
    content "\e616"

.icon-images
  &:before
    content "\e617"

.icon-pencil
  &:before
    content "\e618"

.icon-layers-alt
  &:before
    content "\e619"

.icon-layers
  &:before
    content "\e61a"

.icon-users2
  &:before
    content "\e61b"

.icon-mail2
  &:before
    content "\e661"

.icon-mail3
  &:before
    content "\e662"

.icon-mail4
  &:before
    content "\e663"

.icon-mail5
  &:before
    content "\e664"

.icon-google2
  &:before
    content "\e665"

.icon-googleplus3
  &:before
    content "\e666"

.icon-googleplus4
  &:before
    content "\e667"

.icon-googleplus5
  &:before
    content "\e668"

.icon-googleplus6
  &:before
    content "\e669"

.icon-facebook5
  &:before
    content "\e66a"

.icon-facebook6
  &:before
    content "\e66b"

.icon-facebook7
  &:before
    content "\e66c"

.icon-instagram2
  &:before
    content "\e66d"

.icon-twitter4
  &:before
    content "\e66e"

.icon-twitter5
  &:before
    content "\e66f"

.icon-twitter6
  &:before
    content "\e670"

.icon-feed
  &:before
    content "\e671"

.icon-feed2
  &:before
    content "\e672"

.icon-feed3
  &:before
    content "\e673"

.icon-youtube2
  &:before
    content "\e674"

.icon-youtube3
  &:before
    content "\e675"

.icon-vimeo3
  &:before
    content "\e676"

.icon-vimeo22
  &:before
    content "\e677"

.icon-vimeo4
  &:before
    content "\e678"

.icon-flickr
  &:before
    content "\e679"

.icon-flickr2
  &:before
    content "\e67a"

.icon-flickr3
  &:before
    content "\e67b"

.icon-flickr4
  &:before
    content "\e67c"

.icon-skype4
  &:before
    content "\e67d"

.icon-vimeo
  &:before
    content "\e64d"

.icon-vimeo2
  &:before
    content "\e64e"

.icon-twitter2
  &:before
    content "\e64f"

.icon-twitter3
  &:before
    content "\e650"

.icon-facebook2
  &:before
    content "\e651"

.icon-facebook3
  &:before
    content "\e652"

.icon-facebook4
  &:before
    content "\e653"

.icon-googleplus
  &:before
    content "\e654"

.icon-googleplus2
  &:before
    content "\e655"

.icon-pinterest
  &:before
    content "\e656"

.icon-pinterest2
  &:before
    content "\e657"

.icon-tumblr2
  &:before
    content "\e658"

.icon-tumblr3
  &:before
    content "\e659"

.icon-linkedin
  &:before
    content "\e65a"

.icon-linkedin2
  &:before
    content "\e65b"

.icon-skype2
  &:before
    content "\e65c"

.icon-skype3
  &:before
    content "\e65d"

/*  Google Tag Manager
  ==================================================  */

/*  Colors  */
black       =   #151313
gray        =   #E2E7DF
gray_dark   =   #3E3E3E
gray_light  =   #BAC8C1
blue_border =   #1091AC
gray_border =   #A7B1AC
blue_light  =   #31A4BC
blue_border =   #47777E
pink_light  =   #FE8A71
other_gray  =   #272727
white          =   #FFF
facebookBlue   =  #3b5998
twitterBlue    =  #00aced
googlePlusRed  =  #dd4b39
youtubeRed     =  #bb0000
linkedinBlue   =  #007bb6
instagramBlue  =  #517fa4
pinterestRed   =  #cb2027
foursquareBlue =  #0072b1
flickrPink     =  #ff0084
vineGreen      =  #00bf8f
swarmYellow    =  #ffa633

/*Black       = #293539
Blue        = #01CDE6
Gray        = #7D8288
Gray_light  =  #AAB0B2
Gray_black  =  #797D83
pink_light  =  #FE8A71*/
.canvas
  position relative
  overflow hidden
.Header
  position fixed
  right 0
  left 0
  background gray
  padding 1em
  height 35px
  &-figure
    display inline-block
    margin 0
    padding 0
  &-logoLink
    display block
  &-logoImage
    width 180px
    margin-left .7em
  &-buttonMenu
    background gray
    border none
    border-radius 50%
    Color gray_dark
    display none
    font-size 2em
    font-weight bold
    padding .5em
    position absolute
    right .5em
    text-decoration none
    top 0
    &.is-active
      display block
.Menu
  position fixed
  margin-top 65px
  top 0
  width 80%
  bottom 0
  background other_gray
  left -80%
  transition .3s
  overflow scroll
  &.is-active
    left 0
  &-buttonContent
    padding-left 1.5em
    height 3.3em
    display block
    border-bottom 1px dashed white
  &-buttonContact
    display inline-block
    border-right 1px solid black
    Color white
    width 40%
    line-height 3.3em
    text-align center
    text-decoration none
    font-size .9em
    margin-left .4em
    &:before
      margin-right .3em
  &-list
    position absolute
    margin 0
    padding 0
    right 0
    left 0
  &-item
    background gray_dark
    border-bottom 1px dashed gray_light
    list-style none
  &-link
    Color white
    text-decoration none
    font-size 1.3em
    height 2.5em
    line-height 2.5em
    display block
    padding-left 1em
    text-transform: capitalize;*/
    &:before
      margin-right .3em
    &:hover
      background other_gray
  &-social
    display block
    width 100%
    margin-top 20em
  &-socialContent
    bottom 0
    margin-bottom 2em
    text-align center
  &-socialButton
    margin .5em
    display inline-block
    text-decoration none
    &:before
      font-size 2.5em
  &-socialFacebook
    &:before
      color facebookBlue
      background white
      border-radius 50%
  &-socialTwitter
    &:before
      color twitterBlue
      background white
      border-radius 50%
  &-socialGooglePlus
    &:before
      color googlePlusRed
      background white
      border-radius 50%
  &-socialLinkedin
    &:before
      color linkedinBlue
      background white
      border-radius 50%
/*  Small Tablet .
    ==================================================  */
/*@media screen and (min-width: 600px)
  .Header
    background red*/
/*  Tablet.
    ==================================================  */
@media screen and (min-width: 767px)
  .Header
    background pink_light
    &-buttonMenu
      display none
      background pink_light
      border none
  .Menu

    height 4.5em
    margin 0 auto
    max-width 62.5em
    &-social
      display none
/*  Tablet.
    ==================================================  */
/*@media screen and (min-width: 1024px)
  .Header
    background blue_border*/
/*  Tablet.
    ==================================================  */
/*@media screen and (min-width: 1200px)
  .Header
    background Gray*/
